.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.movie h2, .movie p {
    color: rgba(255, 255, 255, 0.836);
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}
